# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Engine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
PixelBrahma/ThirdParty/VulkanSDK
PBEditor/Assets/Cache
Scripts/__pycache__ 