[submodule "PixelBrahma/ThirdParty/spdlog"]
	path = PixelBrahma/ThirdParty/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "PixelBrahma/ThirdParty/GLFW"]
	path = PixelBrahma/ThirdParty/GLFW
	url = ../../pixelbrahma/glfw.git
	branch = master
[submodule "PixelBrahma/ThirdParty/ImGui"]
	path = PixelBrahma/ThirdParty/ImGui
	url = ../../pixelbrahma/imgui.git
	branch = docking
[submodule "PixelBrahma/ThirdParty/glm"]
	path = PixelBrahma/ThirdParty/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "PixelBrahma/ThirdParty/yaml-cpp"]
	path = PixelBrahma/ThirdParty/yaml-cpp
	url = https://github.com/pixelbrahma/yaml-cpp.git
[submodule "PixelBrahma/ThirdParty/ImGuizmo"]
	path = PixelBrahma/ThirdParty/ImGuizmo
	url = https://github.com/pixelbrahma/ImGuizmo.git
[submodule "PixelBrahma/ThirdParty/Box2D"]
	path = PixelBrahma/ThirdParty/Box2D
	url = https://github.com/pixelbrahma/box2d.git
