# Binaries
**/bin/
bin-int/
Intermediates/

# Engine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
PixelBrahma/ThirdParty/VulkanSDK
PBEditor/Assets/Cache
Scripts/__pycache__ 