[submodule "PixelBrahma/ThirdParty/spdlog"]
	path = PixelBrahma/ThirdParty/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "PixelBrahma/ThirdParty/GLFW"]
	path = PixelBrahma/ThirdParty/GLFW
	url = ../../pixelbrahma/glfw.git
	branch = master
[submodule "PixelBrahma/ThirdParty/ImGui"]
	path = PixelBrahma/ThirdParty/ImGui
	url = ../../pixelbrahma/imgui.git
	branch = docking
[submodule "PixelBrahma/ThirdParty/glm"]
	path = PixelBrahma/ThirdParty/glm
	url = ../../g-truc/glm.git
	branch = master
