[submodule "PixelBrahma/ThirdParty/spdlog"]
	path = PixelBrahma/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PixelBrahma/ThirdParty/GLFW"]
	path = PixelBrahma/ThirdParty/GLFW
	url = https://github.com/pixelbrahma/glfw
